PORT=3000
NODE_ENV=development
APP_NAME=
APP_VERSION=
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME"

JWT_ACCESS_SECRET=your-access-token-secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your-refresh-token-secret
JWT_REFRESH_EXPIRES_IN=7d

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3001